<!-- Company details page -->

<h1><%= @company["name"] %></h1>

<h2><%= @company["city"] %></h2>

<h3><%= @company["contact"] %></h3>

<ul>

<% for contact  in @contacts %>
  <li><% contact["first name"] %> <%contact["last name"] %></li>
 
 <% end %>
</ul>

<p>
  <a href="">New Contact</a>
</p>

<p>
  <a href="/companies">Back to All Companies</a>
</p>